.App {
  text-align: center;
}

header {
  font-size: 100px;
  background-color: rgb(17, 15, 21);
  margin: none;
  font-family: 'sacramento';
  color: white;
}


body {
  background-color: black; /* Set the background color for the entire app */
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman' /* your font-family */;
  color: white; /* Set default text color to white */
}


