.App {
  text-align: center;
}

header {
  font-size: 100px;
  background-color: rgb(17, 15, 21);
  margin: none;
  font-family: 'sacramento';
  color: white;

}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(17, 15, 21);
  z-index: 100; /* to ensure it's on top of other content */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds depth */
  padding: 10px 0; /* Adjust as needed */
}


body {background-color: rgb(17, 15, 21);
  
  margin: 0;
  padding: 0;
  color: white; /* Set default text color to white */
  margin-top: 170px;
}


