.airports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -120px;
}

#show-favorites button {
    width: 250px;
    border-radius: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#show-favorites button:hover {
    background-color: #005f73;
}

.airports-dropdown select {
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
}

#animation-container {
    position: fixed;
    width: 100vw;
    z-index: -1;
}

@media (max-width: 480px) {
    .controls-container {
        flex-direction: column;
        gap: 10px;
    }

    #show-favorites button, .airports-dropdown select {
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }
}
