
.show-favorites-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .airport-details button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .airport-details button:hover {
    background-color: #007B9E;
  }
  
  #animation-container {
    position: fixed;
    width: 100vw;
    z-index: -1;
    top: 80px;
  }
  
  @media (max-width: 480px) {
    .airport-details .show-favorites-link {
      font-size: 1em;
    }
    .airport-details button {
      padding: 8px 16px;
    }
  }
  
  /* Media Query for iPad screens */
  @media (min-width: 768px) and (max-width: 1024px) {
    .airport-details .show-favorites-link {
      font-size: 1.4em;
    }
    .airport-details button {
      padding: 12px 24px;
      font-size: 1.1em;
    }
  }
  

  .terminals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  
  .terminal {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333; 
  }
  
 
  .terminal > h3 {
    background-color: #f7f7f7;
    padding: 10px;
    margin: -15px -15px 15px -15px;
    border-radius: 15px 15px 0 0;
    color: #111; 
  }
  
  
  .businesses-container {
    text-align: center;
  }
  
  
  .businesses-container p {
    margin: 5px 0;
    color: #222; 
  }
  
  @media (max-width: 480px) {
    .terminals-container {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    .terminal {
      padding: 10px;
    }
    .terminal > h3 {
        margin: 0; 
        border-radius: 10px 10px 0 0;
        padding: 8px; 
    }

  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .terminals-container {
      grid-template-columns: repeat(2, 1fr); 
      gap: 15px;
    }
  }
  